//====================================================================================================

//====================================================================================================
.footer {
	background-color: var(--unnamed, #390000);
	&__container {
		@include adaptiveValue("padding-top", 80, 40, $containerWidth, $minWidth, 1);
		@include adaptiveValue("padding-bottom", 66, 30, $containerWidth, $minWidth, 1);
	}

	&__body {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 50, 30, $containerWidth, $minWidth, 1);
		@media(max-width: 1000px) {
			flex-wrap: wrap;
		}
	}

	&__logo {
		@include adaptiveValue("height", 150, 50, $containerWidth, $minWidth, 1);
		@include adaptiveValue("width", 150, 50, $containerWidth, $minWidth, 1);
		@media(max-width: 650px) {
			order: 1;
		}
		@media(max-width: 550px) {
			width: 70px;
			height: 70px;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		flex: 0 1 900px;
		gap: 10px;
		@media(max-width: 1000px) {
			flex: 1 1 auto;
		}
		@media(max-width: 650px) {
			order: 3;
		}
		@media(max-width: 550px) {
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 24, 12, $containerWidth, $minWidth, 1);
		a {
			color: var(--unnamed, #FFF);
			transition: all .3s ease 0s;
			&:hover, &:active, &:focus {
				color: var(--unnamed, #A7DCEB);
			}
		}
		span {
			color: var(--unnamed, #FFF);
			transition: all .3s ease 0s;
		}
		ul {
			display: flex;
			flex-direction: column;
			@include adaptiveValue("gap", 16, 8, $containerWidth, $minWidth, 1);
		}
		@media(max-width: 550px) {
			flex: 0 1 calc(50% - 10px);
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@include adaptiveValue("gap", 24, 12, $containerWidth, $minWidth, 1);
		a {
			transition: all .3s ease 0s;
			&:hover, &:active, &:focus {
				color: var(--unnamed, #A7DCEB);
			}
		}
		@media(max-width: 1000px) {
			flex: 1 1 100%;
		}
		@media(max-width: 650px) {
			order: 2;
			flex: 1 1 auto;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 20, 12, $containerWidth, $minWidth, 1);
		a {
			@include adaptiveValue("height", 40, 25, $containerWidth, $minWidth, 1);
			@include adaptiveValue("width", 40, 25, $containerWidth, $minWidth, 1);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			transition: all .3s ease 0s;
		}
	}

	&__phone {
		color: var(--unnamed, #FFF);
	}

	&__mail {
		color: var(--unnamed, #FFF);
	}

	&__privacy {
		color: var(--unnamed, #FFF);
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		p {
			color: var(--unnamed, #FFF);
		}
		@media(max-width: 550px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__partners {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 40, 20, $containerWidth, $minWidth, 1);
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.footer-vk {
	background-image: url('../img/footer/vk.svg');
	&:hover, &:active, &:focus {
		background-image: url('../img/footer/vk-hover.svg');
	}
}
.footer-tg {
	background-image: url('../img/footer/tg.svg');
	&:hover, &:active, &:focus {
		background-image: url('../img/footer/tg-hover.svg');
	}
}
.footer-youtube {
	background-image: url('../img/footer/youtube.svg');
	&:hover, &:active, &:focus {
		background-image: url('../img/footer/youtube-hover.svg');
	}
}
